{
  "openapi": "3.0.3",
  "info": {
    "title": "保険金請求サービス (Claim Service)",
    "description": "保険金請求を管理するAPI。請求種別・請求金額・支払金額・審査ステータスを保持します。\n\nデモ用に bundle v0.1.1 から必要な操作だけを抽出した仕様です。",
    "version": "1.0.0"
  },
  "paths": {
    "/claims": {
      "get": {
        "tags": [
          "claims"
        ],
        "summary": "請求一覧の取得",
        "operationId": "list_claims_claims_get",
        "parameters": [
          {
            "name": "policy_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "契約IDで絞り込み",
              "title": "Policy Id",
              "nullable": true
            },
            "description": "契約IDで絞り込み"
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "顧客IDで絞り込み",
              "title": "Customer Id",
              "nullable": true
            },
            "description": "顧客IDで絞り込み"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ステータスで絞り込み",
              "title": "Status",
              "nullable": true
            },
            "description": "ステータスで絞り込み"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Skip"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimList"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/claims/{claim_id}": {
      "get": {
        "tags": [
          "claims"
        ],
        "summary": "請求の取得",
        "operationId": "get_claim_claims__claim_id__get",
        "parameters": [
          {
            "name": "claim_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Claim Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Claim"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Claim": {
        "properties": {
          "policy_id": {
            "type": "string",
            "title": "Policy Id",
            "description": "請求対象契約(契約ID)",
            "example": "POL-000001"
          },
          "customer_id": {
            "type": "string",
            "title": "Customer Id",
            "description": "請求者(顧客ID)",
            "example": "CUS-000001"
          },
          "claim_type": {
            "type": "string",
            "title": "Claim Type",
            "description": "請求種別",
            "example": "入院"
          },
          "incident_date": {
            "type": "string",
            "title": "Incident Date",
            "description": "事故・事由発生日(YYYY-MM-DD)"
          },
          "claim_date": {
            "type": "string",
            "title": "Claim Date",
            "description": "請求日(YYYY-MM-DD)"
          },
          "claim_amount_requested": {
            "type": "integer",
            "title": "Claim Amount Requested",
            "description": "請求金額(円)"
          },
          "claim_amount_paid": {
            "type": "integer",
            "title": "Claim Amount Paid",
            "description": "支払確定金額(円)",
            "nullable": true
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "審査ステータス",
            "example": "支払済"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "請求内容の詳細",
            "nullable": true
          },
          "processed_at": {
            "type": "string",
            "title": "Processed At",
            "description": "審査完了日時",
            "nullable": true
          },
          "claim_id": {
            "type": "string",
            "title": "Claim Id",
            "description": "請求ID(CLM-NNNNNN)",
            "example": "CLM-000001"
          },
          "created_at": {
            "type": "string",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "policy_id",
          "customer_id",
          "claim_type",
          "incident_date",
          "claim_date",
          "claim_amount_requested",
          "status",
          "claim_id",
          "created_at",
          "updated_at"
        ],
        "title": "Claim"
      },
      "ClaimList": {
        "properties": {
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/Claim"
            },
            "type": "array",
            "title": "Items"
          }
        },
        "type": "object",
        "required": [
          "total",
          "items"
        ],
        "title": "ClaimList"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  },
  "tags": [
    {
      "name": "claims",
      "description": "保険金請求の参照・管理"
    }
  ],
  "servers": [
    {
      "url": "http://claim.insurance.svc.cluster.local:8000",
      "description": "Insurance API サービスへのクラスタ内接続先です。"
    }
  ]
}
